<%- include("partials/header"); -%>


<!-- looping thru posts array to log postTitle -->

    <h1> <%= contentTitle %> </h1>
    <p> <%= contentPost %> </p>















<%- include("partials/footer"); -%>